/*--- BODY ---*/

body {
	font-family:'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
	display: flex;
}

.container {
	max-width: 100%;
	margin: 0 auto;
    padding: 0 40px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}

a {
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 2em;
    line-height: 1;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

h3 {
    text-align: left;
}

h4 {
    position: relative;
    top: -19px;
}

h5{
    font-size:1.5em;
    margin: 5%;
}

p {
	color: white;
}

ul{
    display: flex;
}

li {
    list-style: none;
    padding-right: 33px;
}

section p {
    font-size: 1em;
    color: dimgrey;
}

#p_slider {
	color: white;
}

/*---------- NAVBAR ----------*/

.navbar {
	position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
	height: 100px;
    width: 100%;
    z-index: 2;
	background-color: #fff;
	top: 0;
	margin-bottom: 10px;
}

.navbar .logo {
	position: relative;
    top: 9px;
}

.navbar .navigator {
	position: relative;
    top: 2px;
}

.navbar a:hover {
	border-top: 2px solid #5CABD1;
	padding-top: 35px;
    color: black;
}

/*---------- TEXTE SLIDER ----------*/

.text-block {
	left: 15%;
    width: 50%;
    font-size: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
}

.title {
    color: #5cadd3;
}

.text-block h1,p,button {
    color: white;
}

.text-block p {
    font-size: 1em;
	padding-bottom: 20px;
}

.text-block button {
    background-color: #5cadd3;
}

/*---------- SLIDER ----------*/

#carrousel {
	height: auto;
    position: relative;
	margin-top: 70px;
}

#slider {
	position: relative;   
    width: 100%;   
	height: 100%;
	overflow: hidden;
	padding: 0;
}

#sliderContent {
	position: relative;   
	top: 0px; 
    height: 100%;         
	left: 0;              
	padding: 0;
	margin: 0;
	width: 200%;
	transition: left 0.8s; /* Animation - Transition CSS 3 */
}

#sliderContent li {
	display: inline-block; /* Aligner les éléments du Slider */
	width: 100%;
	padding: 0;
	overflow: hidden; 
    margin-top: 100px;     /* Bas de la NavBar */
	position: relative;
	height: 100%;
}

#sliderContent li img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* modifie espace de coordonnées utilisé */
	max-width: none;
	/*max-height: 100%;*/
	height: auto;
	line-height:100%;
	max-width: 300%;		
}

#img01 {
     width: 100%;
}

#img02 {
     width: 100%;
}

#slider:target #sliderContent {
        left: -100%;            /* L'image disparaît */
}

.chevron {
	position: absolute;
	top: 45%;
    color: white;
    width: 40px;
	height: 50px;
    background: rgba(0, 0, 0, 0.28);
	cursor: pointer;
	text-align: center;
}

.left-chevron {
	left: -5px;
    border-radius: 0 40px 40px 0;
}

.left-chevron:after {
	font-family: "FontAwesome";
	content:'\f104';
	position: absolute;
	top: 0;
	left: 25%;
	font-size: 35px;
}

.right-chevron {
	right: -5px;
	border-radius: 40px 0 0 40px;
}

.right-chevron:after {
	font-family: "FontAwesome";
	content:'\f105';
	position: absolute;
	top: 0;
	right: 25%;
	font-size: 35px;
}

#btm {
    width: 100%;
    height: 5px;
    background-color: rgba(127,127,127,0.3);
    position: absolute;
    bottom: 4px;
}
	
#btmblue {
    width: 10%;
    height: 5px;
    background-color: rgb(92,173,211);
	position: absolute;
	bottom: 4px;
}

/*--- SERVICES ---*/

.our-services {
	position: relative;
}

.first-part {
 	display: flex;
    justify-content: center;
}

.title-section {
	text-align:center;
}

.title-section h2 {
	margin-bottom: 0;
    position: relative;
    bottom: 10%;
}

.title-section .separation {
	border-bottom: 1px solid darkgray;
    width:130px;
    display:inline-block;
    position:relative;
    z-index:0;
}

.title-section .separation::before {
	content: "\f111";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #5CABD1;
    position: absolute;
	top: -10px;
    left: 50%;
	padding:0;
	-webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
}

.title-section .separation::after {
	content: "\f111";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 24px;
    position: absolute;
    top: -15px;
    left: 50%;
    padding:0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.btn-part {
   	display: flex;
 	justify-content: center;
}

.left-part {
    float: left;
    width: 50%;
	text-align: center;
}

.right-part {
    float: left;
	width: 50%;
}

.fa-line-chart {
	color: #5CABD1;
}

.fa-cubes {
	color: #5CABD1;
}

.fa-pie-chart {
	color: #5CABD1;
}

.icon::after {
    font-family: "FontAwesome";
    position: absolute;
    top: 40%;
    top: 0;
    left: 90%;
    content: '\f111';
	color: #5CABD1;
}

.icon {
    position: relative;
    top: 70px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    opacity: 0.7;
    line-height: 50px; 
    text-align: center; 
	color: darkgray;
}

.text{
	text-align:left;
	padding-left: 90px;
}

/*---------- OUR PROJECTS ----------*/

.our-projets{
	background-color: #F5F5F5;
}

.active button {
	background-color: #5CABD1;
}

.btn-group .button {
	border: none;
	color: #64686d;
	padding: 8px 8px;
	font-size: 16px;
	float: left;
}

.btn-group .button:first-child {
	border-radius: 4px 0 0 4px;
}

.btn-group .button:last-child {
	border-radius: 0 4px 4px 0;
}
    
.btn-group .button.active::after {
	font-family: 'FontAwesome';
	content: '\f0d7';
	position: absolute;
	right: 45%;
	/*bottom: -22px;*/
	color: steelblue;
	opacity: 0;
}

.btn-group .button:hover {
	background-color: rgb(92,173,211);
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid steelblue;
}

.btn-group .button:hover::after {
	font-family: 'FontAwesome';
	content: '\f0d7';
	position: relative;
	right: 45%;
	top: 20px;
	color: steelblue;
	opacity: 1;
}

.btn-group .button:nth-of-type(1){	
	background-color: rgb(92,173,211);
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid steelblue;
}

.btn-group .button:nth-of-type(1)::after {
	font-family: 'FontAwesome';
	content: '\f0d7';
	position: relative;
	right: 45%;
	top: 20px;
	color: steelblue;
	opacity: 1;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
}

.portfolio {
    margin: 1%;
    display: inline-block;
}

.eye {
    position: relative;
    width: 50px;
    left: 75%;
    bottom: 100px;
    height: 50px;
    border: 1.5px solid;
    border-radius: 50%;
    z-index: 1;
    background-color: #5CABD1;
	color: white;
}

.oeil {
    width: 22px;
    position: absolute;
    left: 55%;
    top: 50%;
	transform: translate(-50%, -50%);
}

#info {
    background-color: #5CABD1;
    color: white;
	margin-top: 30px;
    padding: 15px;
    border-radius: 3px 3px 3px 3px;
	width: 60px;
    border-bottom: 3px solid steelblue;
}

/*---------- IMAGES PORTFOLIO ----------*/

figure {
    position: relative;
    width: 280px;
    height: 200px;
    overflow: hidden;
}

figcaption {
    position: absolute;
    top: 50%;
    padding-top: 5px;
    padding-left: 15px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0.38);
    color: white;
    transition:  top 1s;
    opacity: 0;
    width: 100%;
	height: 40.5%;
	bottom: 0px;
}

figcaption p {
    position: absolute;
    top: 35px;
    color: white;
	font-size: 15px;
}

figure.portfolio:hover figcaption {
	opacity: 1;
    -webkit-animation: up 2s; 
    animation: up 2s; 
}

figure img {
	width:100%;
}

/*---------- FOOTER ----------*/

footer p {
	color: black;
    width: 400px;
    height: auto;
    margin: auto;
}

footer {
	width: 100%;
	position: relative;
}

.map {
	position: absolute;
    width: 100%;
    height: 650px;
    background: #3491B2;
}

.map iframe {
    width: 100%;
	height: 650px;
    opacity: 0.7;
    border: none;
	position: absolute;
}

form {
	position: absolute;
	right: 5%;
	background: white;
	opacity: 0.85;
	margin-top: 0.8%;
	margin-bottom: 5px;
	z-index: 1;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

form p {
    margin: 3%;
}

#check {
	display: none;
}

input {    
	padding: 10px;
    font-size: 1em;
    margin: 5%;
}

form input[type="text"] {
	display: block;
	margin-bottom:5%;
	width: 80%;
}

form input[type="Email"] {
	display: block;
    margin-bottom: 5%;
    width:80%;
}

form textarea[name="message"] {
	display: block;
    margin-bottom:5%;
    font-size:1em;
    margin: 5%;
    width:85%;
    height: 150px;
	border-radius: 5px;
	background-color: white !important;
}

input[type="submit"] {
    display: block;
    margin-bottom:5%;
    border: 1px;
}

#button {
	color: white;
	background-color: #5CABD1;
	border-radius: 4px;
	border-bottom: 3px solid steelblue;
}

/*--- MEDIA QUERIES - BREAKPOINTS ---*/

@media all and (max-width: 380px){
	
.text-block {
    font-size: 8px !important;
    width: 55% !important;
    line-height: 0;
    left: 10% !important;
    
}
	
.icon {
    margin-left: 43% !important;
}

form {
	/*position: relative;*/
}

.chevron {
	top: 25% !important;
}

.left-chevron {
	top: 25% !important;	
}

#carrousel {
    height: 160px !important;
}
	
}

@media all and (max-width: 768px) {
	
.text-block {
    line-height:0.8;
    font-size: 0.6em;
    width: 55%;
}

form {
	position:static;
	top: 650px;
}
.map {
	position: static;
}

form p {
    width: 100%;
}
}

@media (max-width: 1024px){
	
.chevron {
	top: 30%;
}

.left-chevron {
	top: 30%;	
}
	
#btm {
	display: none;
}
#btmblue {
	display: none;
}

.left-part img {
	position: relative;
	right: 100px;
}

#menuToggle {
	display: block;
	position: relative;
	top: 3px;
	left: 10px;
	z-index: 1;
	-webkit-user-select: none; /* permet d'éviter de sélectionner du texte */
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -5px;
	left: -5px;
	cursor: pointer;
	opacity: 0; 
	z-index: 2; 
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 30px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: black;
	border-radius: 5px;
	z-index: 1;
	transform-origin: 4px 0px; 
}

#menuToggle input:checked ~ ul /* lorsque input selectionné, va appliquer la règle suivante sur les ul */
{
	display: block;
	position: absolute;
	left:-150px;
}

.navbar a:hover {
		color: #5CABD1;
		border-top:none;
}

#menu {
	background-color: white;
	font-size: 1.1em;
	display: none;
}

#info {
	padding: 7px;
	margin-top: 9px;
}

body header {
	width: 100%;
	margin: 0;
	padding: 0;
}
	
.container {
	padding: 0 20px;
}

nav ul {
	flex-direction: column;
}

nav li {
	padding-left: 5px;
}

nav a {
	font-size: 1.1em;
}

nav a:hover {
	padding-top: 0;
}

nav.navigator {
	width: auto;
}

#carrousel {
	/*height: 350px;*/
	margin-top: 80px;
}

.our-services .btn-part {
	flex-direction: column;
	align-items: center;
}

.left-part, .right-part {
	float: none;
}

.left-part {
	margin: 0;
}

.left-part img {
	left: 0;
	max-width: 100%;
	text-align: center;
}

.right-part {
	margin: 0;
}

.text {
	margin-bottom: 30px;
}

.our-services {
	max-width: 100%;
}

.our-projets {
	width: 100%;
}

.portfolio {
	margin: auto;
	margin-bottom: 10px;
}

.portfolio img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

.container {
	padding: 0 20px;
}

nav ul {
	flex-direction: column;
}

nav li {
	padding-left: 5px;
}

nav a {
	font-size: 1.1em;
}

nav a:hover {
	padding-top: 0;
}

nav.navigator {
	width: auto;
}

figure {
	width: 280px;
}

.text-block button {
	font-size: 8px;
}

.our-services .btn-part {
	flex-direction: column;
	align-items: center;
}

.left-part,
.right-part {
	float: none;
	width: 100%;
}

.left-part {
	margin: 0;
}

.left-part img { 
	left: 0;
}

.right-part {
	margin: 0;
}

.text {
	margin-bottom: 30px;
}

.text-bis {
	padding: 0;
}

.icon {
	margin-left: 46%;
	right: auto;
	top: auto;
}

.text {
	text-align: center;
	padding-left: 0%;
}

h3 {
	text-align: center;	
}

.title-section {
	width: 80%;
}

.our-services {
	width: 100%;
}

.our-projets {
	width: 100%;
}

.contact {
	width: 100%;
	margin: auto;
}

h5 {
	text-align: left;
	margin: 6%;
}

form p {
	width: 100%;
	text-align: left;
	margin: 10%;
}

input[type="text"] {
	margin: 16px 0px 0 16px;
}

input[type="Email"] {
	margin: 16px 0px 0 16px;
}

textarea[name="message"] {
	margin: 16px 0px 0 16px;
	width: 80%;
}
}