/*--- BODY ---*/

background {
    position: fixed;
}

body {
	font-family:'Roboto', sans-serif;
    line-height: 1.5;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    color: black;  
}

h2 {
    font-size: 16px;
    color: black; 
}

h2{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

a {
    font-size:;
    color: black;
    text-decoration: none;
}

/*--- NAVBAR ---*/

ul {
    display: flex;
}

li {
    list-style: none;
    padding-right: 33px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    top: 0;
}

.navbar .logo {
    position: relative;
    top: 9px;
}

.navbar .navigator {
    position: relative;
    top: 2px;
}

.navbar a:hover {
    border-top: 14px solid #5CABD1;
    padding-top: 35px;

}

/*--- SLIDER ---*/

#carrousel {
}

#menu {
    display: inline-block;
}

#info_button {
    color: white;
	background-color: #5CABD1;
	border-radius: 5px;
    padding: 8px;
}

#slider_content {
    position: relative;   
    top: 24px; 
    height: 100%;         
    left: 0;    
    padding: 0;
    margin: 0;
    width: 200%;
    transition: left 0.8s;
}

/*--- SERVICES ---*/

.services {
	position: relative;
}

.container {
    padding: 0 40px;
    margin: 0 auto;
}

.first-part {
    display: flex;
    justify-content: center;
}

.icon {
    font-size: 24px;
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    color: lightgray;
}

.part {
    display: flex;
    justify-content: center;
}

.left-part {
 	display: flex;
    justify-content: center;
}

.right-part {
    float: left;
    width: 50%;
    text-align: center;   
}

/*--- PROJECTS ---*/

.projects{
    background-color: #F5F5F5;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
}

figure {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

figcaption {
    position: absolute;
    top: 50%;
    padding-top: 5px;
    padding-left: 15px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0.38);
    color: white;*/
    -webkit-transition:  top 1s;
    transition:  top 1s;
    opacity: 0;
    width: 100%;
    height: 40.5%;
}

figcaption p {
    position: absolute;
    top: 35px;
    color: white;
    font-size: 15px;
}

figure.portfolio:hover figcaption {
    opacity: 1;
    -webkit-animation: up 3s; 
    animation: up 3s; 
}

.portfolio {
    margin: 1%;
    display: inline-block;
}

.eye {
        position: relative;
        width: 50px;
        left: 75%;
        bottom: 105px;
        height: 50px;
        border: 3px solid;
        border-radius: 50%;
        z-index: 1;
        background-color: #5CABD1;
        color: white;
}

.see {
        width: 22px;
        position: absolute;
        left: 55%;
        top: 50%;
        transform: translate(-50%, -50%);
}

/*--- FOOTER ---*/

.footer {
    
}

.contact{
    position:relative;
    z-index: 1;
}

/*--- FORM ---*/

input {
    display: block;
    margin-bottom: 3%;
}

/*

input {    
	padding: 10px;
    font-size: 1em;
    margin: 5%;
}

input[type="text"] {
        display: block;
        margin-bottom:5%;
        width: 80%;
}

input[type="Email"] {
        display: block;
        margin-bottom: 5%;
        width:80%;
}

textarea[name="message"] {
        display: block;
        margin-bottom:5%;
        font-size:1em;
        margin: 5%;
        width:85%;
        height: 150px;
		border-radius: 5px;
}

input[type="submit"] {
        display: block;
        margin-bottom:5%;
        background-color: rgb(0, 135, 255);
        border: 1px;
}

*/

#form_button {
    color: white;
	background-color: #5CABD1;
	border-radius: 5px;
    padding: 8px;
}

/*--- MEDIA QUERIES & RESPONSIVE BREAKPOINTS ---*/

/*Définir 4 media queries*/

.text-services {
    padding: 0;
}

@media all and (max-width: 350px){
    
}

@media all and (min-width: 769px) {
    
}

@media all and (max-width: 1024px){
    
}

@media all and (min-width: 1601px) {
    
}