/*---------- BODY ----------*/
body {
	font-family:'Roboto', sans-serif;
    line-height: 1.5;
    color: black;
    margin: 0;
    padding: 0;
}

/*---------- SLIDER ----------*/

#carrousel {
}

#menu {
    display: inline-block;
}

/*---------- FOOTER ----------*/

.contact{
      position:relative;
      z-index: 1;
}